<mat-card>
  <mat-form-field class="full-width">
    <mat-label i18n>Product variant</mat-label>
    <input matInput placeholder="search" #variantSearchInput type="search"
           (input)="variantSearch(variantSearchInput.value)">
  </mat-form-field>
  <mat-radio-group aria-label="Select a product variant" [(ngModel)]="selectedValue">
    <mat-radio-button *ngFor="let variant of filteredVariants" [value]="variant" (change)="onVariantSelect(variant)">
      {{variant.name}}
    </mat-radio-button>
  </mat-radio-group>
</mat-card>
