<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <td mat-cell *matCellDef="let product">{{product.name}} </td>
  </ng-container>

  <ng-container matColumnDef="sku">
    <td mat-cell *matCellDef="let product">{{product.SKU}} </td>
  </ng-container>

  <ng-container matColumnDef="checkbox">
    <td mat-cell *matCellDef="let product"><mat-checkbox (change)="onSelect($event, product)"></mat-checkbox></td>
  </ng-container>
  <tr mat-row *matRowDef="let product; columns: displayedColumns;"></tr>
</table>
