<button mat-raised-button color="primary" class="d-inline-block pull-right" i18n (click)="openDialog()">
  Import Orders
</button>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" *ngIf="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> #</th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> Customer</th>
      <td mat-cell *matCellDef="let order"> {{order.customer}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created</th>
      <td mat-cell *matCellDef="let order"> {{order.created | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="revenue">
      <th mat-header-cell *matHeaderCellDef> Revenue </th>
      <td mat-cell *matCellDef="let order"> {{order.revenue | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let order"> {{order.cost | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let order"> {{order.price | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="fulfillment">
      <th mat-header-cell *matHeaderCellDef> Fulfillment</th>
      <td mat-cell *matCellDef="let order"> {{order.fulfillment}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [length]="listedOrdersCount" showFirstLastButtons></mat-paginator>
</div>
