<div class="mat-elevation-z8" *ngIf="filteredOrders">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> #</th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> Customer Name</th>
      <td mat-cell *matCellDef="let order"> {{order.customer}} </td>
    </ng-container>

    <ng-container matColumnDef="products">
      <th mat-header-cell *matHeaderCellDef> Amount of Products</th>
      <td mat-cell *matCellDef="let order"> {{order.products.length}} </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef> Order Volume </th>
      <td mat-cell *matCellDef="let order"> {{order.volume | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef> SKU </th>
      <td mat-cell *matCellDef="let order"> {{order.SKU}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let order; columns: displayedColumns;" (click)="selectOrder(order)" class="clickable"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" [length]="filteredOrders.length"
                 showFirstLastButtons></mat-paginator>
</div>
