<mat-horizontal-stepper linear #stepper *ngIf="!isOrderCompleted">
  <mat-step [completed]="!!selectedProducts?.length">
    <ng-template matStepLabel>Find Order</ng-template>
    <div class="my-20">
      <app-order-selected [selectedOrder]="selectedOrder"></app-order-selected>
      <app-order-find></app-order-find>
    </div>
    <div class="pull-right">
      <button mat-raised-button matStepperNext (click)="dialogRef.close()" *ngIf="!selectedOrder">Cancel</button>
      <ng-container *ngIf="selectedOrder">
        <button mat-raised-button matStepperPrevious (click)="unselectOrder()" class="integration--unselect-order">
          Previous</button>
        <button mat-button [ngClass]="!!selectedProducts?.length ? 'mat-raised-button' : ''" matStepperNext>Next
        </button>
      </ng-container>
    </div>
  </mat-step>
  <mat-step [completed]="!!orderedProducts?.length">
    <ng-template matStepLabel>Prepare Products</ng-template>
    <div class="my-20">
      <app-order-selected [selectedOrder]="selectedOrder"
                          (returnToFirstStep)="onReturnToFirstStepHandler($event)"></app-order-selected>
      <app-products-prepare [selectedProducts]="selectedProducts" [selectedVariants]="selectedVariants"
                            class="d-block my-20"></app-products-prepare>
    </div>
    <div class="pull-right">
      <button mat-raised-button matStepperPrevious (click)="clearOrdered()" class="integration--clear-ordered">Previous
      </button>
      <button mat-button [ngClass]="!!orderedProducts?.length ? 'mat-raised-button' : ''" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirm Order</ng-template>
    <div class="my-20">
      <app-order-confirm [selectedVariants]="selectedVariants"></app-order-confirm>
    </div>
    <div class="pull-right">
      <button mat-raised-button matStepperPrevious (click)="orderFormReset()">Previous</button>
      <button (click)="submitOrder()" mat-raised-button color="primary">Confirm and ship</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<ng-container *ngIf="isOrderCompleted">
  <a href="#" class="pull-right" (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </a>
  <mat-card-content>Order has been successfully completed!</mat-card-content>
</ng-container>
