<mat-form-field class="full-width" *ngIf="!selectedOrder">
  <mat-label i18n>Order number</mat-label>
  <input matInput placeholder="order number" #orderSearchInput type="search"
         (input)="orderSearch(orderSearchInput.value)">
</mat-form-field>
<mat-spinner *ngIf="!filteredOrders"></mat-spinner>
<app-order-find-list [filteredOrders]="filteredOrders"
                     *ngIf="filteredOrders && !selectedOrder"></app-order-find-list>

<ng-container aria-label="Selected order" *ngIf="selectedOrder">
  <app-product-list [products]="selectedOrder.products" class="d-block my-20"></app-product-list>
</ng-container>

