<mat-accordion>
  <mat-expansion-panel *ngFor="let product of selectedProducts">
    <mat-expansion-panel-header>
      <mat-panel-title class="d-flex">
        <div class="u-flex-1">{{product.name}}</div>
        <div class="u-flex-1">{{product.SKU}}</div>
        <div class="u-flex-1">{{variantSelected(product.variants)}}</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-product-variants [product]="product"></app-product-variants>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
