<ng-container *ngIf="selectedOrder">
  <button mat-stroked-button class="mr-10 integration--unselect-order" (click)="unselectOrderHandler()" i18n>My
    Orders</button>
  <button mat-flat-button i18n>Order #{{selectedOrder?.id}}</button>
</ng-container>
