//Padding mixin
@mixin padding($top: null, $right: null, $bottom:null, $left: null) {
  padding-top: $top !important;
  padding-right: $right !important;
  padding-bottom: $bottom !important;
  padding-left: $left !important;
}

//Margin mixin
@mixin margin($top: null, $right: null, $bottom:null, $left: null) {
  margin-top: $top !important;
  margin-right: $right !important;
  margin-bottom: $bottom !important;
  margin-left: $left !important;
}
