.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.u-flex-1 {
  flex: 1;
}

.text-center {
  text-align: center !important;
}

.pull-right {
  float: right;
}

.m-20 {
  @include margin($top: 20px, $bottom: 20px, $left: 20px, $right: 20px);
}

.my-20 {
  @include margin($top: 20px, $bottom: 20px);
}

.mr-10 {
  @include margin($right: 10px)
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}
