<mat-card>
  <mat-list role="list" aria-label="Ordered variants">
    <mat-list-item role="listitem" *ngFor="let variant of selectedVariants">{{variant.name}} :
      {{variant.price | currency: 'USD'}}</mat-list-item>
  </mat-list>
</mat-card>

<section class="d-flex">
  <div class="u-flex-1 m-20">
    <h3>Shipping</h3>
    <form #orderForm="ngForm" novalidate>
      <mat-form-field appearance="fill" class="d-block">
        <mat-label>Address</mat-label>
        <input matInput ngModel #address="ngModel" name="address" required>
        <mat-error i18n >Address is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="d-block">
        <mat-label>Comment</mat-label>
        <textarea matInput ngModel name="comment" #comment="ngModel"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="u-flex-1 m-20">
    <h3>Production subtotal</h3>
    <p class="h2">{{totalSum | currency: 'USD'}}</p>
  </div>
</section>
